<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz5NzD5KOMOAebFnyuCxzTiMfUrnHuPN8</string>
	<key>GCM_SENDER_ID</key>
	<string>655675202397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jorismarhuenda.CreaDefi</string>
	<key>PROJECT_ID</key>
	<string>creadefi-12db7</string>
	<key>STORAGE_BUCKET</key>
	<string>creadefi-12db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:655675202397:ios:9e049982211f6ae92c66b4</string>
	<key>DATABASE_URL</key>
	<string>https://creadefi-12db7-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>FacebookAppID</key>
	<string>218587904619152</string>
</dict>
</plist>
